<div class = "name">
  {{currUser.email}}
</div>
<div class = "uploadImage">
  <button class="btn btn-danger" (click) = "reveal()">Upload Image</button>
    <div class = "uploadImageButton" id = "uploadImageButton">
      <app-upload-image></app-upload-image>
    </div>
</div>
<div id = "works">
  Works
</div>
<div class="horizontal">
  <tr *ngFor="let image of currUser.images">
    <img src={{image.url}} class = "resized" [routerLink]="['/user-image-edit', image._id]">
    <div id = "title" [routerLink]="['/user-image-edit', image._id]">{{image.title}}</div>
  </tr>
</div>

